Schematron/DXIND.sch

<?xml version="1.0" encoding="UTF-8"?>


<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">
    
	<sch:pattern name="dxind" extend="xind_base">
		<sch:rule context="VIP/Member/Name"></sch:rule>
                <sch:rule context="VIP/Member/Remark"></sch:rule>
        </sch:pattern>
</sch:schema>

