Schematron/xmark.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">
    <sch:pattern name="Object1" id="object_med">
        <sch:rule context="Location" role="optional"></sch:rule>
        <sch:rule context="from" role="optional"></sch:rule>
        <sch:rule context="to" role="optional"></sch:rule>
        <sch:rule context="date" role="optional"></sch:rule>
    </sch:pattern>
</sch:schema>